language: julia

os:
  - linux

julia:
  - 0.6

git:
  depth: 99999999
cache:
  directories:
  - downloads

env:
  global:
  - BINARYBUILDER_DOWNLOADS_CACHE=downloads
  - BINARYBUILDER_AUTOMATIC_APPLE=true

sudo: required

before_script:
  - julia -e 'Pkg.clone("https://github.com/JuliaPackaging/BinaryProvider.jl")'
  - julia -e 'Pkg.clone("https://github.com/JuliaPackaging/BinaryBuilder.jl"); Pkg.build()'

script:
  - julia build_tarballs.jl

deploy:
  provider: releases
  api_key:
    secure: SZTlRMqvUcCyH+2/P58KI+yeTt+dceeue9jDCiGwz0FBSutkSuZGQn0e6tXFcW+P+T8k55PLkDThhTO94JNEnyUvQBt14oUZSws17ucmcjZV+PNd9w35FxCYj499XU6Ne024FBUKmLYPVK+pQ6tA6pJWIEMfe2j7qDzEpZ6n8Y+BK0ufDRedsHT+XcUY3xh8wy8gTrg/vV/pwtXWI4n9tdnoS58l1z56KU6bTpn5MkUryfYWnxpq6CVWZyEf3UMHaJ45H0gWdWSEZP0rWl2c30Uk8yyJ7VM4HiKXoB9ejIgrRcsVT0FW88y8kQrytZGJkFuKDaJsb1iRL/yfHZGV6plfo3CgJzKB0b1UxB/s5akBqXOtz0LX3ltGaUVsuHsa6NXjzsAoClPQ0Tao4ojemQDn6+iN2VJSlFMXWXAj6LtOQ9JyTJ4WZuN4dZX0YjZTbNH0mQIwnjZq+ORGWPiRqetOLYqL4q+antZHVgNfuwOe4uRmtGNmo/5cxgka2WnpGwE0gyHxcMr5NUT6XNZwc1rzUSmxA+RUSSp0foF9b1TBOIVvCnXp3s9Tk5L2pVgFpmqojNWr9aEn6yiTVkhRJ49RKp2HyzO6j2xdHWU1hP8FS+5e3kCb9XgLZVvbj4sT/C2RaSX5NNDqdKXaqup7/6wYcJxv9sqyORRJVIMIsDc=
  file_glob: true
  file: products/*
  skip_cleanup: true
  on:
    repo: jgoldfar/BonminBuilder
    tags: true
